/**font-family: 'VT323', monospace;**/


body, html{
    width: auto;
    background-color: darkblue;
    font-family: 'VT323', monospace;
    margin: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    
    color: white;
    text-shadow: 1px 1px 1px orange;
}

p{
    color: white;
}

.cacher{
    display: none;
    transition: 1s;
}

#conteneur{
    background-color: rgb(114, 203, 239, 0.5);
    width: 1000px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px orange;

  
}

#bouton-jouer{
    background-color: orangered;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 2px 2px black;
    width: 300px;
    height: 30px;
}

#intro{
   
    text-align: center;

}

#jouer{
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 221, 180); 
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: left;
    
}

#autres{
    display: flex;
    flex-direction: column;
    
    height: auto;
    align-items: center;
    justify-content: right;
}

#myCanvas{
    background-color: blue;
    width: 500px;
    height: 500px;
    margin: 25px;
}

#myCanvas2{
    background-color: darkblue;
    width: 200px;
    height: 50px;
   
}